{% extends "base.html" %}

{% load staticfiles %}

{% block extra-css %}
     <link rel="stylesheet" href="{% static "dashboard/css/led_matrix.css" %}">
{%  endblock extra-css %}

{% block content_title %} Overview {% endblock content_title %}

{% block content %}
    <div class="w3-row">
    <div class="w3-half">
        <div id="led_matrix">
            <object id="svgObject" type="image/svg+xml" data="{% static "dashboard/imgs/sense_hat_plano2.svg" %}">
                Kiwi Logo <!-- fallback image in CSS -->
            </object>
        </div>
    </div>
    <div class="w3-half">
    </div>
    </div>
    <script>

        $("#id_menu_led_matrix").addClass("w3-blue");

        $(function () {
            $('.led').click(function(event) {
                var output = "User click on: " + event.pageX + "/" + event.pageY;
                $('#display').text(output);
            });
            $.rpijs.init("../api/v1/", "admin", "admin");
        });

        window.onload=function() {

            $.rpijs.init("../api/v1/", "admin", "admin");

            var svgDoc = $('#svgObject')[0].contentDocument; // Get the document object for the SVG
            $('.led', svgDoc).click(function(event){
                var output = "User click on: " + event.pageX + "/" + event.pageY;
                $('#display').text(output);
                $(this, svgDoc).css('fill','blue');
                var x =$(this, svgDoc).attr('x');
                var y =$(this, svgDoc).attr('y');
                var data={
    		        "r": 0,
    		        "g": 0,
    		        "b": 255
		        };
		        var service_name = 'led_matrix/pixels/' + x + ',' + y + "/"
		        $.rpijs.put(service_name, data, function() {
			        console.log("Set Pixel Callback Done");
		        });
            });
        };

    </script>
{% endblock content %}

{% block prueba %}
    <div id="display">Another Demo</div>
    <div id="led_matrix">
        <object id="svgObject" type="image/svg+xml" data="{% static "dashboard/imgs/sense_hat_plano2.svg" %}" border="3">
            Kiwi Logo <!-- fallback image in CSS -->
        </object>
    </div>

    <script>
        $(function () {
            $('.led').click(function(event) {
                var output = "User click on: " + event.pageX + "/" + event.pageY;
                $('#display').text(output);
            });
            $.rpijs.init("../api/v1/", "admin", "admin1234");
        });

        window.onload=function() {

            $.rpijs.init("../api/v1/", "admin", "admin1234");

            var svgDoc = $('#svgObject')[0].contentDocument; // Get the document object for the SVG
            $('.led', svgDoc).click(function(event){
                var output = "User click on: " + event.pageX + "/" + event.pageY;
                $('#display').text(output);
                $(this, svgDoc).css('fill','blue');
                var x =$(this, svgDoc).attr('x');
                var y =$(this, svgDoc).attr('y');
                var data={
    		        "r": 0,
    		        "g": 0,
    		        "b": 255
		        };
		        var service_name = 'led_matrix/pixels/' + x + ',' + y + "/"
		        $.rpijs.put(service_name, data, function() {
			        console.log("Set Pixel Callback Done");
		        });
            });
        };

    </script>
{% endblock prueba %}
