<!-- Probando que resincronice -->
{% extends "base.html" %}

{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "dashboard/css/led_matrix.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/dygraph.css" %}">
{% endblock extra-css %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "dashboard/js/dygraph.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/jquery.graphite.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/d3.v3.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/loader.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/dashboard-utils.js" %}"></script>


{% endblock js %}

{% block content_title %} Sensor Ambiental:
    <a href="https://www.raspberrypi.org/products/sense-hat/"> Sense Hat</a>{% endblock content_title %}

{% block menu_block %}
    <a href="overview" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye  fa-fw"></i> Sensores
        Ambientales</a>
    <a href="control_led_matrix" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cubes fa-fw"></i> Matriz
        Led</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i> Sistema RPI</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i> Configuración</a><br><br>
    <a href="api/v1" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i> API REST</a>
{% endblock menu_block %}

{% block content %}
    <h2> Tiempo Real </h2>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-half">
            <div class="w3-third">
                <div id="chart_gauge_temp"></div>
            </div>
            <div class="w3-third">
                <div id="chart_gauge_humidity"></div>
            </div>
            <div class="w3-third">
                <div id="chart_gauge_pressure"></div>
            </div>
        </div>
        <div class="w3-half">
            <div class="w3-container">
                <b>Sensor:</b>
                <select id="select_sensor">
                    <option selected="selected" value="temperature">Temperatura</option>
                    <option value="humidity">Humedad</option>
                    <option value="pressure">Presión</option>
                </select>
                <select id="select_interval">
                    <option value="1000">1 seg</option>
                    <option selected="selected" value="2000">2 seg</option>
                    <option value="5000">5 seg</option>
                    <option value="10000"> 10 seg</option>
                    <option value="30000"> 30 seg</option>
                </select>
                <div id="chart_realtime"></div>
                <div id="chart_humidity"></div>
            </div>
        </div>
    </div>

    <h2> Histórico </h2>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-half">
            <div class="w3-container">
                <div id="graph_temp"></div>
            </div>
        </div>
        <div class="w3-half">
            <div class="w3-container">
                <div id="graph_humidity"></div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            var selectSensor = $("#select_sensor");
            var selectRefresh = $("#select_interval");
            var divIdChart = "chart_realtime";
            var chartConfiguration = {
                'temperature': {
                    url: "{{ API_REST_URL }}env_sensors/temperature", labels: ['t', 'Temperatura'],
                    ylabel: "Temperatura (ºC)", key: "Temperature"
                },
                'humidity': {
                    url: "{{ API_REST_URL }}env_sensors/humidity", labels: ['h', 'Humedad'],
                    ylabel: "Humedad (%)", key: "Humidity"
                },
                'pressure': {
                    url: "{{ API_REST_URL }}env_sensors/pressure", labels: ['p', 'Presión'],
                    ylabel: "Presión", key: "Pressure"
                }
            };

            var chart = new serialChart(selectSensor.val(), divIdChart, selectRefresh.val(),
                    chartConfiguration);

            selectSensor.on("change", function () {
                chart.chartName = selectSensor.val();
                clearInterval(chart.intervalId)
                chart = new serialChart(selectSensor.val(), divIdChart, selectRefresh.val(),
                        chartConfiguration);
            });

            selectRefresh.on("change", function () {
                chart.refreshInterval = selectRefresh.val();
                chart.replot();
            });

            // *************************** HISTORICO *******************************************************
            //JSONP
            url = "{{ GRAPHITE_LOCAL_URL }}/render?target=env_sensor.sense_hat.temperature&format=json&from=-1w&jsonp=?"
            $.getJSON(url, function (response) {
                var data = [];
                for (i in response[0].datapoints) {
                    data.push([new Date(response[0].datapoints[i][1] * 1000), response[0].datapoints[i][0]]);
                }

                new Dygraph(document.getElementById("graph_temp"),
                        data,
                        {
                            labels: ["Fecha", "Temperatura"],
                            legend: 'always',
                            showRangeSelector: false,
                            ylabel: 'Temperatura (ºC)',
                        });
            });

            url = "{{ GRAPHITE_LOCAL_URL }}/render?target=env_sensor.sense_hat.humidity&format=json&from=-1w&jsonp=?"
            $.getJSON(url, function (response) {
                var data = [];
                for (i in response[0].datapoints) {
                    data.push([new Date(response[0].datapoints[i][1] * 1000), response[0].datapoints[i][0]]);
                }

                new Dygraph(document.getElementById("graph_humidity"),
                        data,
                        {
                            labels: ["Date", "Humedad"],
                            legend: 'always',
                            showRangeSelector: false,
                            ylabel: 'Humedad(%)',
                        });
            });
        });
    </script>
{% endblock content %}
