{% extends "dashboard/base_device.html" %}

{% load staticfiles %}

{% block extra-css %}
{%  endblock extra-css %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "dashboard/js/dashboard-ledmatrix.js" %}"></script>
{% endblock js %}

{% block content %}
    <div id="type_device" data-value="{{ type_device }}"></div>
    <div id="api_rest_url" data-value="{{ API_REST_URL }}"></div>
    <div id="type_device" data-value="sensehat" hidden></div>
    <div class="w3-row">
        <div class="w3-half">
            <div id="led_matrix">
                <object id="svgObject" type="image/svg+xml" data="{% static "dashboard/imgs/sense_hat_plano2.svg" %}">
                    Kiwi Logo <!-- fallback image in CSS -->
                </object>
            </div>
            <p></p>
            <p>Al hacer click sobre un led, este se encenderá del color seleccionado.</p>
        </div>
    <div class="w3-half">
        <p></p>
        <div class="w3-container w3-teal">
            <p>Selecciona Color: <input type="color" name="pixel_color" value="#0000FF" id="led_color"></p>
            <p>
                Selecciona Led: X <input type="number" name="x" min="0" max="7" id="led_coord_x" value="0">
                Y: <input type="number" name="y" min="0" max="7" id="led_coord_y" value="0">
            </p>
        </div>
        <p></p>
{#        <div class="w3-container">#}
        <div class="w3-row">
            <div id="ledmatrix_clear" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-table" aria-hidden="true"> Apagar Todos</i></div>
            <div id="ledmatrix_on_all" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-table" aria-hidden="true"> Encender Todos</i></div>
        </div>
        <div class="w3-row">
            <div id="ledmatrix_off_led" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-lightbulb-o" aria-hidden="true"> Apagar Seleccionado</i></div>
            <div id="ledmatrix_on_led" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-lightbulb-o" aria-hidden="true"> Encender Seleccionado</i></div>
        </div>
        <div class="w3-row">
{#            <div class="w3-quarter">#}
                <div class="w3-button w3-white w3-border w3-border-green">Clear</div>
                <div class="w3-button w3-white w3-border w3-border-green">Button</div>
                <div class="w3-button w3-teal w3-border">Button</div>
                <div class="w3-button w3-white w3-border w3-border-green w3-round-large">Button</div>
{#            </div>#}
        </div>
{#        </div>#}
    </div>
    </div>
    <script>
        $("#id_leftmenu_sensehat").addClass("w3-blue");
    </script>
{% endblock content %}

