<!-- Probando que resincronice -->
{% extends "base.html" %}

{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "dashboard/css/led_matrix.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/dygraph.css" %}">
{%  endblock extra-css %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "dashboard/js/dygraph.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/jquery.graphite.js"%}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/d3.min.js"%}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/d3.v3.js"%}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/rickshaw.min.js"%}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/loader.js"%}"></script>

    <script type="text/javascript" src="{% static "dashboard/js/chart-gauge-sensor.js" %}"></script>
    <script type="text/javascript">

    </script>

{% endblock js %}

{% block content_title %} Sensor Ambiental: <a href="https://www.raspberrypi.org/products/sense-hat/"> Sense Hat</a>{% endblock content_title %}

{% block menu_block %}
    <a href="overview" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye  fa-fw"></i>  Sensores Ambientales</a>
    <a href="control_led_matrix" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cubes fa-fw"></i> Matriz Led</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i> Sistema RPI</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Configuración</a><br><br>
    <a href="api/v1" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i> API REST</a>
{%  endblock menu_block %}

{% block content %}
    <h2> Tiempo Real </h2>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-half">
            <div class="w3-third">
                <div id="chart_gauge_temp"> </div>
            </div>
            <div class="w3-third">
                <div id="chart_gauge_humidity"> </div>
            </div>
            <div class="w3-third">
                <div id="chart_gauge_pressure"> </div>
            </div>
        </div>
        <div class="w3-half">
            <div class="w3-container ">
                <div id="chart_temperature_realtime"></div>
            </div>
        </div>
    </div>

    <h2> Histórico </h2>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-half">
            <div class="w3-container">
                <div id="graph_temp"></div>
            </div>
        </div>
        <div class="w3-half">
            <div class="w3-container">
                <div id="graph_humidity"></div>
            </div>
        </div>

    </div>

    <script>
    $(document).ready(function () {
        // Temperature Realtime CHART
        $.rpijs.init("{{ API_REST_URL }}", "admin", "admin1234");

	    /* change formatDefaults */
	    $.rpijs.formatDefaults.valueType = "binary";
	    $.rpijs.formatDefaults.update = 2000;

        var data =[];
        data.push([new Date(), 0])
        var g = new Dygraph(document.getElementById("chart_temperature_realtime"), data,
                {
                    drawPoints: true,
{#                    showRoller: true,#}
                    labels: ['t', 'Temperatura'],
                    legend: 'always',
                    ylabel: 'Temperatura (ºC)',
                });

        $.rpijs.get("env_sensors/temperature", function(metric) {
            var x = new Date();
            var y = metric.Temperature.toFixed(2);
            data.push([x,y]);
            g.updateOptions({'file': data});
		    return true;
        });

    //JSONP
    url="{{ GRAPHITE_LOCAL_URL }}/render?target=env_sensor.sense_hat.temperature&format=json&from=-1w&jsonp=?"
    $.getJSON(url, function(response) {
        var data = [];
        for (i in response[0].datapoints) {
            data.push([new Date(response[0].datapoints[i][1] * 1000), response[0].datapoints[i][0]]);
        }

        new Dygraph(document.getElementById("graph_temp"),
            data,
            {
                labels: [ "Fecha", "Temperatura" ],
                legend: 'always',
                showRangeSelector: true,
                ylabel: 'Temperatura (ºC)',
            });
    });

    url="{{ GRAPHITE_LOCAL_URL }}/render?target=env_sensor.sense_hat.humidity&format=json&from=-1w&jsonp=?"
    $.getJSON(url, function(response) {
            var data = [];
            for (i in response[0].datapoints) {
                data.push([new Date(response[0].datapoints[i][1] * 1000), response[0].datapoints[i][0]]);
            }

            new Dygraph(document.getElementById("graph_humidity"),
              data,
              {
                  labels: [ "Date", "Humedad" ],
                  legend: 'always',
                  showRangeSelector: false,
                  ylabel: 'Humedad(%)',
              });
        });
    });
    </script>

{% endblock content %}
